<p id="notice"><%= notice %></p>

<p>
  <strong>練習</strong>
  <%= @schedule.training %>
  <%= @schedule.place %>
  <%= @schedule.what %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
